org_id            = "1041701195417"
billing_account   = "XXXXXX-XXXXXX-XXXXXX"
org_domain        = "gigachadglobal.org"
iac_sa_email      = "iac-sa@my-iac-project.iam.gserviceaccount.com"
iac_project_id    = "my-iac-project"
admin_group_email = "gcp-organization-admins@gigachadglobal.org"
tfc_organization  = "my-tfc-org"
tfc_workspace     = "gcp-vanilla-tf-foundation"
log_bucket_name   = "logging.googleapis.com/projects/my-log-project/locations/global/buckets/my-log-bucket"
primary_location  = "us-east4"
